* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.header {
  height: 300px;
  width: 100%;
  background-image: url("../images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header .nav {
  width: 88%;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.header .nav__logo img {
  position: relative;
  z-index: 999;
}
.header .nav .navbar {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 88px;
  background-color: #fff;
  border-radius: 8px;
  text-align: left;
  z-index: 999;
  box-shadow: 0 100px 0 2500px rgba(0, 0, 0, 0.5);
}
.header .nav .navbar ul li {
  padding: 24px;
  border-bottom: 1px solid hsl(0, 0%, 48%);
  font-weight: 500;
}
.header .nav .navbar ul li:last-child {
  border: none;
}
.header .nav .navbar ul li:hover {
  cursor: pointer;
}
.header .nav .navbar ul li a {
  color: hsl(0, 0%, 0%);
  font-size: 18px;
}
.header .nav__toggle {
  z-index: 999;
}
.header .nav__toggle-close {
  display: none;
}

.main .monitor {
  position: relative;
  width: 88%;
  margin: 0 auto;
  max-width: 900px;
  padding-bottom: 250px;
}
.main .monitor__card {
  position: absolute;
  top: -55px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 50px 19px 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main .monitor__card__logo {
  position: absolute;
  top: -30px;
  left: calc(100% - (50% + 30px));
}
.main .monitor__card__h1 {
  font-size: 22px;
  margin-bottom: 15px;
}
.main .monitor__card__p {
  font-size: 15px;
  color: hsl(0, 0%, 48%);
  margin-bottom: 25px;
}
.main .monitor__card__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .monitor__card__buttons button {
  background-color: hsl(176, 50%, 47%);
  padding: 20px 50px;
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  letter-spacing: 1.1px;
}
.main .monitor__card__buttons button:hover {
  background-color: hsl(176, 72%, 28%);
  cursor: pointer;
}
.main .monitor__card__buttons__button {
  display: flex;
}
.main .monitor__card__buttons__button .button-text {
  display: none;
}
.main .number {
  width: 88%;
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
  padding: 35px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main .number__numbers {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 35px;
}
.main .number__numbers .total span {
  font-size: 32px;
  font-weight: 700;
}
.main .number__numbers .total p {
  margin-top: 10px;
  font-size: 14px;
  color: hsl(0, 0%, 48%);
}
.main .number .porcentaje {
  border-radius: 50px;
  background-color: hsl(0, 0%, 90%);
  height: 15px;
  width: 100%;
}
.main .number .porcentaje .porce {
  border-radius: 50px;
  background-color: hsl(176, 50%, 47%);
  height: 15px;
  width: 75%;
}
.main .about {
  width: 88%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 100px;
  max-width: 900px;
  text-align: left;
  padding: 35px 26px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main .about__h2 {
  font-size: 18px;
  margin-bottom: 20px;
}
.main .about__p {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 25px;
}
.main .about__card {
  margin-bottom: 15px;
  border: 1px solid hsl(0, 0%, 48%);
  border-radius: 8px;
  padding: 24px;
}
.main .about__card__titles__title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}
.main .about__card__titles__price {
  color: hsl(176, 50%, 47%);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 25px;
}
.main .about__card__p {
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 25px;
}
.main .about__card__options {
  display: flex;
  flex-direction: column;
}
.main .about__card__options__left {
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 48%);
  font-size: 14px;
  margin-bottom: 25px;
}
.main .about__card__options__left span {
  font-weight: 700;
  font-size: 32px;
  margin-right: 10px;
  color: hsl(0, 0%, 0%);
}
.main .about__card__options__button {
  width: 160px;
  background-color: hsl(176, 50%, 47%);
  padding: 15px 30px;
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.1px;
}
.main .about__card__options__button:hover {
  background-color: hsl(176, 72%, 28%);
  cursor: pointer;
}
.main .about__card:last-child {
  opacity: 0.5;
}
.main .about__card:last-child .about__card__options__button {
  background-color: hsl(0, 0%, 48%);
}

@media screen and (min-width: 768px) {
  .header {
    height: 400px;
  }
  .main .monitor {
    max-width: 735px;
  }
  .main .monitor__card {
    padding: 50px 40px 35px;
  }
  .main .monitor__card__h1 {
    font-size: 26px;
  }
  .main .monitor__card__buttons button {
    padding: 20px 40px;
  }
  .main .monitor__card__buttons__button {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: hsl(0, 0%, 90%);
    border-radius: 50px;
    padding: 0 25px 0 0;
    height: 56px;
  }
  .main .monitor__card__buttons__button .button {
    padding-top: 2px;
  }
  .main .monitor__card__buttons__button .button-text {
    display: inline-block;
    color: hsl(0, 0%, 48%);
    font-weight: 700;
  }
  .main .number {
    padding: 50px 40px;
  }
  .main .number__numbers {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  .main .number__numbers .total {
    width: 33%;
    border-right: 1px solid hsl(0, 0%, 90%);
  }
  .main .number__numbers .total:last-child {
    border-right: none;
  }
  .main .about {
    padding: 50px 40px;
  }
  .main .about__h2 {
    font-size: 22px;
  }
  .main .about__p {
    line-height: 1.8;
  }
  .main .about__card {
    padding: 28px;
  }
  .main .about__card__titles {
    display: flex;
    justify-content: space-between;
  }
  .main .about__card__p {
    line-height: 1.8;
  }
  .main .about__card__options {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .main .about__card__options__left {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    height: 400px;
    background-image: url("../images/image-hero-desktop.jpg");
  }
  .header .nav {
    width: 88%;
    max-width: 1200px;
  }
  .header .nav .navbar {
    display: flex;
    flex-direction: row;
    position: inherit;
    width: auto;
    text-align: center;
    top: 0;
    background-color: transparent;
    border-radius: 0;
    text-align: inherit;
    box-shadow: none;
  }
  .header .nav .navbar ul {
    display: flex;
    gap: 25px;
  }
  .header .nav .navbar ul li {
    padding: 0;
    border-bottom: none;
    font-weight: 500;
  }
  .header .nav .navbar ul li a {
    color: white;
  }
  .header .nav__toggle {
    display: none;
  }
  .main .monitor {
    max-width: 735px;
  }
  .main .monitor__card {
    padding: 50px 40px 35px;
  }
  .main .monitor__card__h1 {
    font-size: 28px;
  }
  .main .monitor__card__p {
    font-size: 16px;
  }
  .main .number {
    max-width: 735px;
  }
  .main .about {
    max-width: 735px;
    padding: 50px 50px;
  }
  .main .about__h2 {
    font-size: 26px;
  }
  .main .about__p {
    color: hsl(0, 0%, 48%);
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 25px;
  }
  .main .about__card__p {
    font-size: 16px;
  }
  .main .about__card__options__left {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */