@media screen and (min-width:1024px) {
    .header{
        height: 400px;
        background-image: url('../images/image-hero-desktop.jpg');
    
        .nav{
            width: 88%;
            max-width: 1200px;
    
            .navbar{
                display: flex !important;
                flex-direction: row;
                position: inherit;
                width: auto;
                text-align: center;
                top: 0;
                background-color: transparent;
                border-radius: 0;
                text-align: inherit;
                box-shadow: none;
    
                ul{
                    display: flex;
                    gap: 25px;

                    li{
                        padding: 0;
                        border-bottom: none;
                        font-weight: 500;
    
                        a{
                            color: white;
                        }
                    }
                }
            }
    
            &__toggle{
                display: none;
            }
        }
    }
    
    .main{
    
        .monitor{
            max-width: 735px;
    
            &__card{
                padding: 50px 40px 35px;
    
                &__h1{
                    font-size: 28px;
                }
    
                &__p{
                    font-size: 16px;
                }
    
                &__buttons{
    
                    &__button{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        background-color: $dark-gray-2;
                        border-radius: 50px;
                        padding: 0 25px 0 0;
                        height: 56px;

                        .button{
                            width: 56px;
                            height: 56px;
                            padding-top: 2px;
                        }
                    }
                }
            }
        }
    
        .number{
            max-width: 735px;
        }
    
        .about{
            max-width: 735px;
            padding: 50px 50px;
    
            &__h2{
                font-size: 26px;
            }
    
            &__p{
                color: $dark-gray;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 25px;
            }
    
            &__card{
    
                &__p{
                    font-size: 16px;
                }
    
                &__options{
    
                    &__left{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .modal__complete{
        padding: 55px;
    
        &__success{
    
            img{
                width: 80px;
            }
        }
    }
}
