.header{
    height: 300px;
    width: 100%;
    background-image: url('../images/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .nav{
        width: 88%;
        margin: 0 auto;
        padding: 32px 0;
        display: flex;
        justify-content: space-between;
        position: relative;

        &__logo{
            
            img{
                position: relative;
                z-index: 999;
            }
        }

        .navbar{
            display: none;
            position: absolute;
            width: 100%;
            // margin: 0 auto;
            text-align: center;
            top: 88px;
            background-color: #fff;
            border-radius: 8px;
            text-align: left;
            z-index: 999;
            box-shadow: 0 100px 0 2500px rgba(0, 0, 0, 0.5);

            ul{
                li{
                    padding: 24px;
                    border-bottom: 1px solid $dark-gray;
                    font-weight: 500;

                    &:last-child{
                        border: none;
                    }

                    &:hover{
                        cursor: pointer;
                        // font-weight: 700;
                    }

                    a{
                        color: $black;
                        font-size: 18px;
                    }
                }
            }
        }

        &__toggle{
            z-index: 999;

            &-open{

            }

            &-close{
                display: none;
            }
        }
    }
}

.main{
    // position: relative;

    .monitor{
        position: relative;
        width: 88%;
        margin: 0 auto;
        max-width: 735px; //Corregir luego
        padding-bottom: 250px;

        &__card{
            position: absolute;
            top: -55px;
            width: 100%;
            background-color: white;
            border-radius: 8px;
            text-align: center;
            padding: 50px 19px 35px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            &__logo{
                position: absolute;
                top: -30px;
                left: calc(100% - (50% + 30px));
            }

            &__h1{
                font-size: 22px;
                margin-bottom: 15px;
            }

            &__p{
                font-size: 15px;
                color: $dark-gray;
                margin-bottom: 25px;
            }

            &__buttons{
                display: flex;
                justify-content: space-between;
                align-items: center;

                button{
                    background-color: $moderate-cyan;
                    padding: 20px 50px;
                    color: white;
                    border: none;
                    border-radius: 50px;
                    font-weight: 700;
                    letter-spacing: 1.1px;

                    &:hover{
                        background-color: $dark-cyan;
                        cursor: pointer;
                    }
                }

                &__button{
                    display: flex;

                    .button{
                        background-image: url('../images/icon-bookmark.svg');
                        width: 56px;
                        height: 56px;
                    }

                    .button-text{
                        display: none;
                    }
                }
            }
        }
    }

    .number{
        // padding-top: 250px;
        width: 88%;
        margin: 0 auto;
        max-width: 735px;
        text-align: center;
        padding: 35px 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &__numbers{
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-bottom: 35px;

            .total{

                span{
                    font-size: 32px;
                    font-weight: 700;
                    // margin-bottom: 10px;
                }

                p{
                    margin-top: 10px;
                    font-size: 14px;
                    color: $dark-gray;
                }
            }
        }

        .porcentaje{
            border-radius: 50px;
            background-color: $dark-gray-2;
            height: 15px;
            width: 100%;
            .porce{
                border-radius: 50px;
                background-color: $moderate-cyan;
                height: 15px;
                width: 75%;
            }
        }
    }

    .about{
        width: 88%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 100px;
        max-width: 735px;
        text-align: left;
        padding: 35px 26px;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &__h2{
            font-size: 18px;
            margin-bottom: 20px;
        }

        &__p{
            color: $dark-gray;
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 25px;
        }

        &__card{
            margin-bottom: 15px;
            border: 1px solid $dark-gray;
            border-radius: 8px;
            padding: 24px;

            &__titles{

                &__title{
                    font-weight: 700;
                    font-size: 15px;
                    margin-bottom: 10px;
                }
    
                &__price{
                    color: $moderate-cyan;
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 25px;
                }
            }

            &__p{
                color: $dark-gray;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 25px;
            }

            &__options{
                display: flex;
                flex-direction: column;

                &__left{
                    display: flex;
                    align-items: center;
                    color: $dark-gray;
                    font-size: 14px;
                    margin-bottom: 25px;
    
                    span{
                        font-weight: 700;
                        font-size: 32px;
                        margin-right: 10px;
                        color: $black;
                    }
                }
    
                &__button{
                    width: 160px;
                    background-color: $moderate-cyan;
                    padding: 15px 30px;
                    color: white;
                    border: none;
                    border-radius: 50px;
                    font-weight: 700;
                    font-size: 12px;
                    letter-spacing: 1.1px;
    
                    &:hover{
                        background-color: $dark-cyan;
                        cursor: pointer;
                    }
                }
            }

            &:last-child{
                opacity: .5;

                .about__card__options__button{
                    background-color: $dark-gray;
                }
            }
        }
    }
}