.header{
    height: 300px;
    width: 100%;
    background-image: url('../images/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .nav{
        width: 88%;
        margin: 0 auto;
        padding: 32px 0;
        display: flex;
        justify-content: space-between;
        position: relative;

        &__logo{
            
            img{
                position: relative;
                z-index: 999;
            }
        }

        .navbar{
            display: none;
            position: absolute;
            width: 100%;
            text-align: center;
            top: 88px;
            background-color: #fff;
            border-radius: 8px;
            text-align: left;
            z-index: 999;
            box-shadow: 0 100px 0 2500px rgba(0, 0, 0, 0.5);

            ul{
                li{
                    padding: 24px;
                    border-bottom: 1px solid $dark-gray;
                    font-weight: 500;

                    &:last-child{
                        border: none;
                    }

                    &:hover{
                        cursor: pointer;
                    }

                    a{
                        color: $black;
                        font-size: 18px;
                    }
                }
            }
        }

        &__toggle{
            z-index: 999;

            &-close{
                display: none;
            }
        }
    }
}

.main{

    .monitor{
        position: relative;
        width: 88%;
        margin: 0 auto;
        max-width: 735px;
        padding-bottom: 250px;

        &__card{
            position: absolute;
            top: -55px;
            width: 100%;
            background-color: white;
            border-radius: 8px;
            text-align: center;
            padding: 50px 19px 35px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            &__logo{
                position: absolute;
                top: -30px;
                left: calc(100% - (50% + 30px));
            }

            &__h1{
                font-size: 22px;
                margin-bottom: 15px;
            }

            &__p{
                font-size: 15px;
                color: $dark-gray;
                margin-bottom: 25px;
            }

            &__buttons{
                display: flex;
                justify-content: space-between;
                align-items: center;

                button{
                    background-color: $moderate-cyan;
                    padding: 20px 50px;
                    color: white;
                    border: none;
                    border-radius: 50px;
                    font-weight: 700;
                    letter-spacing: 1.1px;

                    &:hover{
                        background-color: $dark-cyan;
                        cursor: pointer;
                    }
                }

                &__button{
                    display: flex;

                    .button{
                        background-image: url('../images/icon-bookmark.svg');
                        width: 56px;
                        height: 56px;
                    }

                    .button-2{
                        background-image: url('../images/icon-bookmark-hover.svg');
                        width: 56px;
                        height: 56px;
                    }

                    .button-text{
                        display: none;
                    }

                    .button-text-2{
                        display: none;
                        color: $dark-cyan;
                    }
                }
            }
        }
    }

    .number{
        width: 88%;
        margin: 0 auto;
        max-width: 735px;
        text-align: center;
        padding: 35px 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &__numbers{
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-bottom: 35px;

            .total{

                span{
                    font-size: 32px;
                    font-weight: 700;
                }

                p{
                    margin-top: 10px;
                    font-size: 14px;
                    color: $dark-gray;
                }
            }
        }

        .porcentaje{
            border-radius: 50px;
            background-color: $dark-gray-2;
            height: 15px;
            width: 100%;
            .porce{
                border-radius: 50px;
                background-color: $moderate-cyan;
                height: 15px;
                width: 75%;
            }
        }
    }

    .about{
        width: 88%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 100px;
        max-width: 735px;
        text-align: left;
        padding: 35px 26px;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &__h2{
            font-size: 18px;
            margin-bottom: 20px;
        }

        &__p{
            color: $dark-gray;
            font-size: 14px;
            line-height: 1.5;
            margin-bottom: 25px;
        }

        &__card{
            margin-bottom: 15px;
            border: 1px solid $dark-gray;
            border-radius: 8px;
            padding: 24px;

            &__titles{

                &__title{
                    font-weight: 700;
                    font-size: 15px;
                    margin-bottom: 10px;
                }
    
                &__price{
                    color: $moderate-cyan;
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 25px;
                }
            }

            &__p{
                color: $dark-gray;
                font-size: 14px;
                line-height: 1.5;
                margin-bottom: 25px;
            }

            &__options{
                display: flex;
                flex-direction: column;

                &__left{
                    display: flex;
                    align-items: center;
                    color: $dark-gray;
                    font-size: 14px;
                    margin-bottom: 25px;
    
                    span{
                        font-weight: 700;
                        font-size: 32px;
                        margin-right: 10px;
                        color: $black;
                    }
                }
    
                &__button{
                    width: 160px;
                    background-color: $moderate-cyan;
                    padding: 15px 30px;
                    color: white;
                    border: none;
                    border-radius: 50px;
                    font-weight: 700;
                    font-size: 12px;
                    letter-spacing: 1.1px;
    
                    &:hover{
                        background-color: $dark-cyan;
                        cursor: pointer;
                    }
                }
            }

            &:last-child{
                opacity: .5;

                .about__card__options__button{
                    background-color: $dark-gray;
                }
            }
        }
    }
}

// MODALS
.modal__project{
    display: none;
    position: absolute;
    top: 55px;
    left: 6%;
    width: 88%;
    max-width: 735px;
    border-radius: 8px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 100px 0 2500px rgba(0, 0, 0, 0.5);
    z-index: 1000;

    .project__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        .project__h2{
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
        }
    
        .project__close{
            display: inline-block;
        }
    }

    .project__p{
        color: $dark-gray;
        font-size: 16px;
        margin-bottom: 25px;
    }

    .project__card{
        border: 1px solid $dark-gray-2;
        border-radius: 8px;
        margin-bottom: 35px;
        padding: 25px;

        &__option{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 15px;
            gap: 25px;

            .radio__btn{

                .option__radio{
                    position: relative;
                    width: 20px;
                    height: 20px;
                    margin-right: 16px;
    
                    &::before{
                        position: absolute;
                        content: "";
                        width: 20px;
                        height: 20px;
                        background: white;
                        border: 1px solid #515757bb;
                        border-radius: 100%;
                    }
    
                    &::after{
                        display: none;
                        position: absolute;
                        content: "";
                        width: 14px;
                        height: 14px;
                        top: 4px;
                        left: 4px;
                        background-color: $moderate-cyan;
                        border-radius: 100%;
                    }
    
                    &:focus::after {
                        display: block;
                    }
                }
            }

            .option__h3{
                display: inline-block;
                font-size: 16px;
            }

            .option__span{
                color: $moderate-cyan;
                font-size: 15px;
            }
        }

        &__p{
            font-size: 16px;
            color: $dark-gray;
            margin-bottom: 25px;
        }

        &__left{
            margin-bottom: 25px;

            p{
                display: flex;
                align-items: center;
                gap: 10px;
                color: $dark-gray;
                font-size: 14px;

                span{
                    color: $black;
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }

        .enter-pledge {
            border-top: 1px solid $dark-gray-2;
            padding-top: 25px;

            p{
                text-align: center;
                color: $dark-gray;
                margin-bottom: 15px;
            }

            .enter-group {
              display: flex;
              align-items: center;
              justify-content: space-between;

                .input {
                    position: relative;
                    width: 40%;
                    max-width: 150px;

                    .input-pledge {
                        display: block;
                        font-weight: 700;
                        font-size: 24px;
                        border-radius: 50px;
                        border: 1px solid $dark-gray-2;
                        width: 100%;
                        max-width: 150px;
                        padding: 8px;
                        padding-left: 30px;
                    }

                    .input-pledge:focus,
                    .input-pledge:active,
                    .input-pledge:focus-visible {
                        border: 1px solid $moderate-cyan;
                        outline: none;
                        position: relative;
                        display: block;
                    }

                    .dollar-sign {
                        position: absolute;
                        content: "";
                        top: 37%;
                        left: 15px;
                        font-weight: 700;
                        font-size: 16px;
                        transform: translate(0, -25%);
                        color: $dark-gray;
                    }
                }

                .btn{
                    background-color: $moderate-cyan;
                    padding: 14px;
                    color: white;
                    border: none;
                    border-radius: 50px;
                    font-weight: 700;
                    letter-spacing: 1.1px;
                    width: 40%;
                    max-width: 150px;
                }
            }
        }    
    }

    .project__card-2{
        border: 1px solid $moderate-cyan;
    }

    .disabled{
        opacity: 40%;
    }

}

.modal__complete{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
    max-width: 550px;
    border-radius: 8px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 100px 0 2500px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    &__p{
        color: $dark-gray;
    }

    &__button{
        width: 160px;
        background-color: $moderate-cyan;
        padding: 15px 30px;
        color: white;
        border: none;
        border-radius: 50px;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 1.1px;

        &:hover{
            background-color: $dark-cyan;
            cursor: pointer;
        }
    }
}