// ## Colors

// ### Primary

$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);

// ### Neutral

$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$dark-gray-2: hsl(0, 0%, 90%);

@import 'general';
@import 'main';
@import '768px';
@import '836px';
@import '1024px';